{% set level = 0 %}
{% set hasSub = 0 %}

{% block menu_list -%}
    {% set level = level+1 %}
    <ul class="{% if level == 1 %}nav navbar-nav{% endif %} {% if hasSub %}dropdown-menu{% endif %}">

        {% if hasSub %}
            <li><a href="{{ cmfPath(menu.nodeRoute) }}"></span>{{ menu }}</span></a></li>
        {% endif %}

        {% for item in menu.items %}
            {{ block('menu_item') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block menu_item -%}
    {% if item is defined %}

        {% set hasSub = item.items.count %}

        {% if hasSub %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>{{ item }}</span></a>
                {% if item.items.count %}
                    {% set menu = item %}
                    {{ block('menu_list') }}
                {% endif %}
            </li>
        {% else %}
            <li>
                <a href="{{ cmfPath(item.nodeRoute) }}"><span>{{ item }}</span></a>
                {% if item.items.count %}
                    {% set menu = item %}
                    {{ block('menu_list') }}
                {% endif %}
            </li>
        {% endif %}
    {% endif %}
{% endblock %}